<div>
    <h2 id="page-heading">
        <span jhiTranslate="ofmanagerApp.artefatoOrdemDeFornecimento.home.title">Artefato Ordem De Fornecimentos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-artefato-ordem-de-fornecimento" [routerLink]="['/artefato-ordem-de-fornecimento/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="ofmanagerApp.artefatoOrdemDeFornecimento.home.createLabel">
            Create a new Artefato Ordem De Fornecimento
            </span>
        </button>
    </h2>

    <of-alert-error></of-alert-error>

    <of-alert></of-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="artefatoOrdemDeFornecimentos?.length === 0">
        <span jhiTranslate="ofmanagerApp.artefatoOrdemDeFornecimento.home.notFound">No artefatoOrdemDeFornecimentos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="artefatoOrdemDeFornecimentos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="estado"><span jhiTranslate="ofmanagerApp.artefatoOrdemDeFornecimento.estado">Estado</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdDate"><span jhiTranslate="ofmanagerApp.artefatoOrdemDeFornecimento.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="artefatoId"><span jhiTranslate="ofmanagerApp.artefatoOrdemDeFornecimento.artefato">Artefato</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ordemDeFornecimentoId"><span jhiTranslate="ofmanagerApp.artefatoOrdemDeFornecimento.ordemDeFornecimento">Ordem De Fornecimento</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let artefatoOrdemDeFornecimento of artefatoOrdemDeFornecimentos ;trackBy: trackId">
                    <td><a [routerLink]="['/artefato-ordem-de-fornecimento', artefatoOrdemDeFornecimento.id, 'view']">{{ artefatoOrdemDeFornecimento.id }}</a></td>
                    <td jhiTranslate="{{ 'ofmanagerApp.EstadoArtefato.' + artefatoOrdemDeFornecimento.estado }}">{{ artefatoOrdemDeFornecimento.estado }}</td>
                    <td>{{ artefatoOrdemDeFornecimento.createdDate | date:'medium' }}</td>
                    <td>
                        <div *ngIf="artefatoOrdemDeFornecimento.artefatoId">
                            <a [routerLink]="['/artefato', artefatoOrdemDeFornecimento.artefatoId , 'view']" >{{ artefatoOrdemDeFornecimento.artefatoId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="artefatoOrdemDeFornecimento.ordemDeFornecimentoId">
                            <a [routerLink]="['/ordem-de-fornecimento', artefatoOrdemDeFornecimento.ordemDeFornecimentoId , 'view']" >{{ artefatoOrdemDeFornecimento.ordemDeFornecimentoId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/artefato-ordem-de-fornecimento', artefatoOrdemDeFornecimento.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/artefato-ordem-de-fornecimento', artefatoOrdemDeFornecimento.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(artefatoOrdemDeFornecimento)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="artefatoOrdemDeFornecimentos?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
