<div>
    <h2 id="page-heading">
        <span jhiTranslate="ofmanagerApp.arquivo.home.title">Arquivos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-arquivo" [routerLink]="['/arquivo/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="ofmanagerApp.arquivo.home.createLabel">
            Create a new Arquivo
            </span>
        </button>
    </h2>

    <of-alert-error></of-alert-error>

    <of-alert></of-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="arquivos?.length === 0">
        <span jhiTranslate="ofmanagerApp.arquivo.home.notFound">No arquivos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="arquivos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="caminhoDoArquivo"><span jhiTranslate="ofmanagerApp.arquivo.caminhoDoArquivo">Caminho Do Arquivo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="extensao"><span jhiTranslate="ofmanagerApp.arquivo.extensao">Extensao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="complexidade"><span jhiTranslate="ofmanagerApp.arquivo.complexidade">Complexidade</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="arquivoDeTest"><span jhiTranslate="ofmanagerApp.arquivo.arquivoDeTest">Arquivo De Test</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let arquivo of arquivos ;trackBy: trackId">
                    <td><a [routerLink]="['/arquivo', arquivo.id, 'view']">{{ arquivo.id }}</a></td>
                    <td>{{ arquivo.caminhoDoArquivo }}</td>
                    <td>{{ arquivo.extensao }}</td>
                    <td jhiTranslate="{{ 'ofmanagerApp.Complexidade.' + arquivo.complexidade }}">{{ arquivo.complexidade }}</td>
                    <td>{{ arquivo.arquivoDeTest }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/arquivo', arquivo.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/arquivo', arquivo.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(arquivo)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="arquivos?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
