<div>
    <h2 id="page-heading">
        <span jhiTranslate="ofmanagerApp.ordemDeFornecimento.home.title">Ordem De Fornecimentos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ordem-de-fornecimento" [routerLink]="['/ordem-de-fornecimento/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="ofmanagerApp.ordemDeFornecimento.home.createLabel">
            Create a new Ordem De Fornecimento
            </span>
        </button>
    </h2>

    <of-alert-error></of-alert-error>

    <of-alert></of-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="ordemDeFornecimentos?.length === 0">
        <span jhiTranslate="ofmanagerApp.ordemDeFornecimento.home.notFound">No ordemDeFornecimentos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="ordemDeFornecimentos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numero"><span jhiTranslate="ofmanagerApp.ordemDeFornecimento.numero">Numero</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="estado"><span jhiTranslate="ofmanagerApp.ordemDeFornecimento.estado">Estado</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="observacaoDoGestor"><span jhiTranslate="ofmanagerApp.ordemDeFornecimento.observacaoDoGestor">Observacao Do Gestor</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdBy"><span jhiTranslate="ofmanagerApp.ordemDeFornecimento.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdDate"><span jhiTranslate="ofmanagerApp.ordemDeFornecimento.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastModifiedBy"><span jhiTranslate="ofmanagerApp.ordemDeFornecimento.lastModifiedBy">Last Modified By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastModifiedDate"><span jhiTranslate="ofmanagerApp.ordemDeFornecimento.lastModifiedDate">Last Modified Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="valorUstibb"><span jhiTranslate="ofmanagerApp.ordemDeFornecimento.valorUstibb">Valor Ustibb</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dataDeEntrega"><span jhiTranslate="ofmanagerApp.ordemDeFornecimento.dataDeEntrega">Data De Entrega</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="gestorDaOfLogin"><span jhiTranslate="ofmanagerApp.ordemDeFornecimento.gestorDaOf">Gestor Da Of</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="donoDaOfLogin"><span jhiTranslate="ofmanagerApp.ordemDeFornecimento.donoDaOf">Dono Da Of</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ordemDeFornecimento of ordemDeFornecimentos ;trackBy: trackId">
                    <td><a [routerLink]="['/ordem-de-fornecimento', ordemDeFornecimento.id, 'view']">{{ ordemDeFornecimento.id }}</a></td>
                    <td>{{ ordemDeFornecimento.numero }}</td>
                    <td jhiTranslate="{{ 'ofmanagerApp.EstadoOrdemDeFornecimento.' + ordemDeFornecimento.estado }}">{{ ordemDeFornecimento.estado }}</td>
                    <td>{{ ordemDeFornecimento.observacaoDoGestor }}</td>
                    <td>{{ ordemDeFornecimento.createdBy }}</td>
                    <td>{{ ordemDeFornecimento.createdDate | date:'medium' }}</td>
                    <td>{{ ordemDeFornecimento.lastModifiedBy }}</td>
                    <td>{{ ordemDeFornecimento.lastModifiedDate | date:'medium' }}</td>
                    <td>{{ ordemDeFornecimento.valorUstibb }}</td>
                    <td>{{ ordemDeFornecimento.dataDeEntrega | date:'medium' }}</td>
                    <td>
                        {{ ordemDeFornecimento.gestorDaOfLogin }}
                    </td>
                    <td>
                        {{ ordemDeFornecimento.donoDaOfLogin }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/ordem-de-fornecimento', ordemDeFornecimento.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/ordem-de-fornecimento', ordemDeFornecimento.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(ordemDeFornecimento)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="ordemDeFornecimentos?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
