<div>
    <h2 id="page-heading">
        <span jhiTranslate="ofmanagerApp.arquivoDaOf.home.title">Arquivo Da Ofs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-arquivo-da-of" [routerLink]="['/arquivo-da-of/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="ofmanagerApp.arquivoDaOf.home.createLabel">
            Create a new Arquivo Da Of
            </span>
        </button>
    </h2>

    <of-alert-error></of-alert-error>

    <of-alert></of-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="arquivoDaOfs?.length === 0">
        <span jhiTranslate="ofmanagerApp.arquivoDaOf.home.notFound">No arquivoDaOfs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="arquivoDaOfs?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="estadoArquivo"><span jhiTranslate="ofmanagerApp.arquivoDaOf.estadoArquivo">Estado Arquivo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="servicoOfId"><span jhiTranslate="ofmanagerApp.arquivoDaOf.servicoOf">Servico Of</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="arquivoId"><span jhiTranslate="ofmanagerApp.arquivoDaOf.arquivo">Arquivo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let arquivoDaOf of arquivoDaOfs ;trackBy: trackId">
                    <td><a [routerLink]="['/arquivo-da-of', arquivoDaOf.id, 'view']">{{ arquivoDaOf.id }}</a></td>
                    <td jhiTranslate="{{ 'ofmanagerApp.EstadoArquivo.' + arquivoDaOf.estadoArquivo }}">{{ arquivoDaOf.estadoArquivo }}</td>
                    <td>
                        <div *ngIf="arquivoDaOf.servicoOfId">
                            <a [routerLink]="['/servico-of', arquivoDaOf.servicoOfId , 'view']" >{{ arquivoDaOf.servicoOfId }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="arquivoDaOf.arquivoId">
                            <a [routerLink]="['/arquivo', arquivoDaOf.arquivoId , 'view']" >{{ arquivoDaOf.arquivoId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/arquivo-da-of', arquivoDaOf.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/arquivo-da-of', arquivoDaOf.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(arquivoDaOf)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="arquivoDaOfs?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
