<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="arquivoDaOf">
            <h2><span jhiTranslate="ofmanagerApp.arquivoDaOf.detail.title">Arquivo Da Of</span> {{ arquivoDaOf.id }}</h2>

            <hr>

            <of-alert-error></of-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ofmanagerApp.arquivoDaOf.estadoArquivo">Estado Arquivo</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'ofmanagerApp.EstadoArquivo.' + arquivoDaOf.estadoArquivo }}">{{ arquivoDaOf.estadoArquivo }}</span>
                </dd>
                <dt><span jhiTranslate="ofmanagerApp.arquivoDaOf.servicoOf">Servico Of</span></dt>
                <dd>
                    <div *ngIf="arquivoDaOf.servicoOfId">
                        <a [routerLink]="['/servico-of', arquivoDaOf.servicoOfId, 'view']">{{ arquivoDaOf.servicoOfId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="ofmanagerApp.arquivoDaOf.arquivo">Arquivo</span></dt>
                <dd>
                    <div *ngIf="arquivoDaOf.arquivoId">
                        <a [routerLink]="['/arquivo', arquivoDaOf.arquivoId, 'view']">{{ arquivoDaOf.arquivoId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/arquivo-da-of', arquivoDaOf.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
