<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="servicoOf">
            <h2><span jhiTranslate="ofmanagerApp.servicoOf.detail.title">Servico Of</span> {{ servicoOf.id }}</h2>

            <hr>

            <of-alert-error></of-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ofmanagerApp.servicoOf.numero">Numero</span></dt>
                <dd>
                    <span>{{ servicoOf.numero }}</span>
                </dd>
                <dt><span jhiTranslate="ofmanagerApp.servicoOf.estado">Estado</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'ofmanagerApp.EstadoOf.' + servicoOf.estado }}">{{ servicoOf.estado }}</span>
                </dd>
                <dt><span jhiTranslate="ofmanagerApp.servicoOf.observacaoDoGestor">Observacao Do Gestor</span></dt>
                <dd>
                    <span>{{ servicoOf.observacaoDoGestor }}</span>
                </dd>
                <dt><span jhiTranslate="ofmanagerApp.servicoOf.createdBy">Created By</span></dt>
                <dd>
                    <span>{{ servicoOf.createdBy }}</span>
                </dd>
                <dt><span jhiTranslate="ofmanagerApp.servicoOf.createdDate">Created Date</span></dt>
                <dd>
                    <span>{{ servicoOf.createdDate }}</span>
                </dd>
                <dt><span jhiTranslate="ofmanagerApp.servicoOf.lastModifiedBy">Last Modified By</span></dt>
                <dd>
                    <span>{{ servicoOf.lastModifiedBy }}</span>
                </dd>
                <dt><span jhiTranslate="ofmanagerApp.servicoOf.lastModifiedDate">Last Modified Date</span></dt>
                <dd>
                    <span>{{ servicoOf.lastModifiedDate }}</span>
                </dd>
                <dt><span jhiTranslate="ofmanagerApp.servicoOf.gestorDaOf">Gestor Da Of</span></dt>
                <dd>
                    {{ servicoOf.gestorDaOfLogin }}
                </dd>
                <dt><span jhiTranslate="ofmanagerApp.servicoOf.donoDaOf">Dono Da Of</span></dt>
                <dd>
                    {{ servicoOf.donoDaOfLogin }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/servico-of', servicoOf.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
