<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="of-servico-of-heading" jhiTranslate="ofmanagerApp.servicoOf.home.createOrEditLabel">Create or edit a Servico Of</h2>

            <div>
                <of-alert-error></of-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ofmanagerApp.servicoOf.numero" for="field_numero">Numero</label>
                    <input type="number" class="form-control" name="numero" id="field_numero"
                           formControlName="numero"/>
                    <div *ngIf="editForm.get('numero')!.invalid && (editForm.get('numero')!.dirty || editForm.get('numero')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('numero')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('numero')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ofmanagerApp.servicoOf.estado" for="field_estado">Estado</label>
                    <select class="form-control" name="estado" formControlName="estado" id="field_estado">
                        <option value="NOVA">{{ 'ofmanagerApp.EstadoOf.NOVA' | translate }}</option>
                        <option value="ANALISE">{{ 'ofmanagerApp.EstadoOf.ANALISE' | translate }}</option>
                        <option value="ACEITA">{{ 'ofmanagerApp.EstadoOf.ACEITA' | translate }}</option>
                        <option value="REJEITADA">{{ 'ofmanagerApp.EstadoOf.REJEITADA' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ofmanagerApp.servicoOf.observacaoDoGestor" for="field_observacaoDoGestor">Observacao Do Gestor</label>
                    <textarea class="form-control" name="observacaoDoGestor" id="field_observacaoDoGestor"
                              formControlName="observacaoDoGestor"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ofmanagerApp.servicoOf.createdBy" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                           formControlName="createdBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ofmanagerApp.servicoOf.createdDate" for="field_createdDate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" formControlName="createdDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ofmanagerApp.servicoOf.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
                    <input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy"
                           formControlName="lastModifiedBy"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ofmanagerApp.servicoOf.lastModifiedDate" for="field_lastModifiedDate">Last Modified Date</label>
                    <div class="d-flex">
                        <input id="field_lastModifiedDate" type="datetime-local" class="form-control" name="lastModifiedDate" formControlName="lastModifiedDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ofmanagerApp.servicoOf.gestorDaOf" for="field_gestorDaOf">Gestor Da Of</label>
                    <select class="form-control" id="field_gestorDaOf" name="gestorDaOf" formControlName="gestorDaOfId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ofmanagerApp.servicoOf.donoDaOf" for="field_donoDaOf">Dono Da Of</label>
                    <select class="form-control" id="field_donoDaOf" name="donoDaOf" formControlName="donoDaOfId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
