<div>
    <h2 id="page-heading">
        <span jhiTranslate="ofmanagerApp.servicoOf.home.title">Servico Ofs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-servico-of"
                [routerLink]="['/gerenciador_de_ofs/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="ofmanagerApp.servicoOf.home.createLabel">
            Create a new Servico Of
            </span>
        </button>
    </h2>
    <of-alert-error></of-alert-error>
    <of-alert></of-alert>

    <div class="row">
        <div class="col">
            <mat-form-field>
                <input matInput type="number" placeholder="Número da OF" [(ngModel)]="filtroPesquisa.numeroOF">
                <button *ngIf="filtroPesquisa.numeroOF" mat-button matSuffix mat-icon-button aria-label="Limpar" (click)="filtroPesquisa.numeroOF=null">
                    <fa-icon [icon]="'times'"></fa-icon>
                </button>
            </mat-form-field>

            <mat-form-field *ofHasAnyAuthority="['ROLE_ADMIN', 'ROLE_GESTOR_OF']">
                <mat-label>Gestor da OF</mat-label>
                <mat-select [(ngModel)]="filtroPesquisa.usuarioGestor">
                    <mat-option [value]="null">Todos</mat-option>
                    <mat-option *ngFor="let usuarioGestor of usuariosGestor" [value]="usuarioGestor">
                        {{usuarioGestor!.firstName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            &nbsp;
            &nbsp;
            <a (click)="loadPage()"><fa-icon [icon]="'search'"></fa-icon></a>
        </div>
    </div>

    <br/>
    <div class="alert alert-warning" *ngIf="servicoOfs?.length === 0">
        <span jhiTranslate="ofmanagerApp.servicoOf.home.notFound">No servicoOfs found</span>
    </div>
    <div class="table-responsive" *ngIf="servicoOfs?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                <th scope="col" jhiSortBy="numero"><span>Número OF</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th *ofHasAnyAuthority="['ROLE_ADMIN', 'ROLE_GESTOR_OF']" scope="col" jhiSortBy="donoDaOfId">
                    <span>Usuário</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="gestorDaOfId">
                    <span>Gestor da OF</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="createdDate"><span>Criado em</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="lastModifiedDate"><span>Modificado em</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="valorUstibb"><span>USTIBB</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col"><span>Estado</span></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let servicoOf of servicoOfs ;trackBy: trackId">
                <td>{{servicoOf.numero}}</td>
                <td *ofHasAnyAuthority="['ROLE_ADMIN', 'ROLE_GESTOR_OF']">{{servicoOf!.donoDaOfLogin}}</td>
                <td>{{servicoOf!.gestorDaOfLogin}}</td>
                <td>{{servicoOf.createdDate | date:'dd/MM/yy HH:mm'}}</td>
                <td>{{servicoOf.lastModifiedDate | date:'dd/MM/yy HH:mm'}}{{' por '+servicoOf.lastModifiedBy}}</td>
                <td>{{servicoOf.valorUstibb}}</td>
                <td>
                    <mat-chip-list *ofHasAnyAuthority="['ROLE_USER']" aria-label="Fish selection">
                        <mat-chip color="primary" selected><span
                            jhiTranslate="{{ 'ofmanagerApp.EstadoOf.' + servicoOf.estado }}">{{ servicoOf.estado }}</span>
                        </mat-chip>
                    </mat-chip-list>
                    <mat-form-field *ofHasAnyAuthority="['ROLE_ADMIN', 'ROLE_GESTOR_OF']">
                        <mat-label></mat-label>
                        <mat-select [(value)]="servicoOf.estado">
                            <mat-option (click)="atualizaEstadoDaOf(servicoOf, 'NOVA')" [value]="'NOVA'">Nova</mat-option>
                            <mat-option (click)="atualizaEstadoDaOf(servicoOf, 'ANALISE')" [value]="'ANALISE'">Análise</mat-option>
                            <mat-option (click)="atualizaEstadoDaOf(servicoOf, 'ACEITA')" [value]="'ACEITA'">Aceita</mat-option>
                            <mat-option (click)="atualizaEstadoDaOf(servicoOf, 'REJEITADA')" [value]="'REJEITADA'">Rejeitada</mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/gerenciador_de_ofs', servicoOf.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(servicoOf)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="servicoOfs?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage"
                            [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                            (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
