<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate [formGroup]="editForm">
            <h2 id="of-servico-of-heading" jhiTranslate="ofmanagerApp.servicoOf.home.createOrEditLabel">Create or edit a
                Servico Of</h2>
            <div>
                <of-alert-error></of-alert-error>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ofmanagerApp.servicoOf.numero" for="field_numero">Numero</label>
                    <input type="number" class="form-control" name="numero" id="field_numero" formControlName="numero"/>
                    <div
                        *ngIf="editForm.get('numero')!.invalid && (editForm.get('numero')!.dirty || editForm.get('numero')!.touched)">
                        <small class="form-text text-danger" *ngIf="editForm.get('numero')?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.get('numero')?.errors?.number"
                               jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lista_arquivo">Listas dos arquivos</label>
                    <textarea rows="10" class="form-control" name="listaDeAqruivos" id="field_lista_arquivo"
                              formControlName="listaDeArquivo"></textarea>
                </div>
                <button type="button" id="cancel-save" class="btn btn-secondary form-group" (click)="previousState()">
                    <fa-icon icon="chevron-left"></fa-icon>&nbsp;<span>Voltar</span>
                </button>
                <button type="button" id="processar" class="btn btn-primary form-group" (click)="processar()"
                        [disabled]="editForm.invalid">
                    <fa-icon icon="sync"></fa-icon>&nbsp;<span>Processar</span>
                </button>
                <button type="button" id="download" class="btn btn-success form-group" (click)="download()"
                        [disabled]="!ordemFornecimento!.id">
                    <fa-icon icon="download"></fa-icon>&nbsp;<span>Download</span>
                </button>
                <div *ngFor="let mapArquivoDaOf of ordemFornecimento!.mapArquivoDaOf! | keyvalue"
                     class="card form-group">
                    <div class="card-header">
                        {{mapArquivoDaOf.key}}
                    </div>
                    <ul class="list-group list-group-flush">
                        <li *ngFor="let arquivoDaOf of mapArquivoDaOf!.value!" class="list-group-item">

                            <mat-grid-list cols="12" rowHeight="100px">
                                <mat-grid-tile
                                    [colspan]="6"
                                    style="word-break: break-all; word-wrap: break-word;"
                                    [ngStyle]="{'background-color':arquivoDaOf.estadoArquivo === 'CRIANDO'?'#b3ff99':'#b9e2ff'}">
                                    {{arquivoDaOf.arquivo.caminhoDoArquivo}}
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <mat-checkbox *ngIf="podeSerArquivoDeTest(mapArquivoDaOf!.key)" (change)="isArquivoTest(arquivoDaOf!.arquivo)" [checked]="arquivoDaOf!.arquivo.arquivoDeTest">Test</mat-checkbox>
                                </mat-grid-tile>
                                <mat-grid-tile [colspan]="2">
                                    <mat-form-field>
                                        <mat-label>Complexidade</mat-label>
                                        <mat-select [(value)]="arquivoDaOf.arquivo.complexidade">
                                            <mat-option (click)="atualizaComplexidade(arquivoDaOf.arquivo, 'MUITO_BAIXA')" [value]="'MUITO_BAIXA'">Muito Baixa</mat-option>
                                            <mat-option (click)="atualizaComplexidade(arquivoDaOf.arquivo, 'BAIXA')" [value]="'BAIXA'">Baixa</mat-option>
                                            <mat-option (click)="atualizaComplexidade(arquivoDaOf.arquivo, 'MEDIA')" [value]="'MEDIA'">Media</mat-option>
                                            <mat-option (click)="atualizaComplexidade(arquivoDaOf.arquivo, 'ALTA')" [value]="'ALTA'">Alta</mat-option>
                                            <mat-option (click)="atualizaComplexidade(arquivoDaOf.arquivo, 'MUITO_ALTA')" [value]="'MUITO_ALTA'">Muito Alta</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile [colspan]="2">
                                    <mat-form-field>
                                        <mat-label>Finalidade</mat-label>
                                        <mat-select [(value)]="arquivoDaOf.estadoArquivo">
                                            <mat-option (click)="atualizaEstadoArquivo(arquivoDaOf, 'CRIANDO')" [value]="'CRIANDO'">Criando</mat-option>
                                            <mat-option (click)="atualizaEstadoArquivo(arquivoDaOf, 'ALTERANDO')" [value]="'ALTERANDO'">Editando</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </mat-grid-tile>
                                <mat-grid-tile>
                                    <button type="button" class="btn btn-danger" title="Apagar linha"
                                            (click)="deletarArquivoDaOf(arquivoDaOf)">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                    </button>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>
