.estado-criando {
  background-color: #b3ff99;
}

.estado-alterando {
  background-color: #b9e2ff;
}

.complexidade-na {
  background-color: #e5e3e3;
}

.complexidade-muito-baixa {
  background-color: #b9e2ff;
}

.complexidade-baixa {
  background-color: #b3ff99;
}

.complexidade-media {
  background-color: #ffff66;
}

.complexidade-alta {
  background-color: #ff9966;
}

.complexidade-muito-alta {
  background-color: #ff6666;
}
