<div>
    <h2 id="page-heading">
        <span jhiTranslate="ofmanagerApp.servicoOf.home.title">Servico Ofs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-servico-of"
                [routerLink]="['/gerenciador_de_ofs/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="ofmanagerApp.servicoOf.home.createLabel">
            Create a new Servico Of
            </span>
        </button>
    </h2>
    <of-alert-error></of-alert-error>
    <of-alert></of-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="servicoOfs?.length === 0">
        <span jhiTranslate="ofmanagerApp.servicoOf.home.notFound">No servicoOfs found</span>
    </div>
    <div class="table-responsive" *ngIf="servicoOfs?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                <th scope="col" jhiSortBy="numero"><span jhiTranslate="ofmanagerApp.servicoOf.numero">Numero</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th *ofHasAnyAuthority="'ROLE_ADMIN'" scope="col" jhiSortBy="userid"><span>Usuário</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let servicoOf of servicoOfs ;trackBy: trackId">
                <td>{{servicoOf.numero}}</td>
                <td *ofHasAnyAuthority="'ROLE_ADMIN'">{{servicoOf.userName}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/gerenciador_de_ofs', servicoOf.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(servicoOf)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="servicoOfs?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage"
                            [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                            (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
